{{import_globals}}

<div class="menu__inner deltaboxmenu__inner">

  {{#any displayTitle subtitle body instruction}}
  <div class="menu__header deltaboxmenu__header">
    <div class="menu__header-inner deltaboxmenu__header-inner">

      {{#if displayTitle}}
      <div class="menu__title deltaboxmenu__title{{#any subtitle body instruction}} add-margin{{/any}}">

        {{#unless _disableAccessibleState}}
        <div class="js-heading"></div>
        {{/unless}}

        <div class="menu__title-inner deltaboxmenu__title-inner" {{#unless _disableAccessibleState}}aria-hidden="true"{{/unless}}>
          {{{compile displayTitle}}}
        </div>

      </div>
      {{/if}}

      {{#if subtitle}}
      <div class="menu__subtitle deltaboxmenu__subtitle">
        <div class="menu__subtitle-inner deltaboxmenu__subtitle-inner">
          {{{compile subtitle}}}
        </div>
      </div>
      {{/if}}

      {{#if body}}
      <div class="menu__body deltaboxmenu__body{{#if subtitle}} add-margin{{/if}}">
        <div class="menu__body-inner deltaboxmenu__body-inner">
          {{{compile body}}}
        </div>
      </div>
      {{/if}}

      {{#if instruction}}
      <div class="menu__instruction deltaboxmenu__instruction{{#any subtitle body}} add-margin{{/any}}">
        <div class="menu__instruction-inner deltaboxmenu__instruction-inner">
          {{{compile instruction}}}
        </div>
      </div>
      {{/if}}

    </div>
  </div>
  {{/any}}

  <div class="menu__item-container deltaboxmenu__item-container">
    <div class="menu__item-container-inner deltaboxmenu__item-container-inner js-children" role="list">
      {{!-- Menu items render here --}}
    </div>
  </div>

</div>
